{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        http-kit/http-kit {:mvn/version "2.5.3"}}
 :aliases {:build {:deps {io.github.seancorfield/build-clj
                          {:git/tag "v0.8.0" :git/sha "9bd8b8a" :deps/root "slim"}}
                   :ns-default build}}}